html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

ul > li {
  cursor: pointer;
}

.custom-modal {
  position: relative !important;
  bottom: 25% !important;
  right: 25% !important;
  transform: translateY(-50%) !important;
   z-index: 1050 !important; 
}

.fotterFloat {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  text-align: center; 
  background-color: transparent; 
  color: #000; 
  padding: 10px; 
  z-index: 1000; 
  font-size: 14px; 
}